
    <!-- footer ------------------------------------------------------------------------------------------------------------------- -->

    <footer>
        <div id="ft_cover">
          <ul>
            <li><h3 class="ft_h3">LET US HELP YOU</h3></li>
            <li><a href="">Customer Service</a></li>
            <li><a href="">Order Status</a></li>
            <li><a href="">Your Order</a></li>
            <li><a href="">Shipping</a></li>
            <li><a href="">Returns</a></li>
            <li><a href="">Size Guide</a></li>
            <li><a href="">My Account</a></li>
            <li><a href="">Whish list</a></li>
            <li><a href="">Store Directory</a></li>
            <li><a href="">FAQs</a></li>
          </ul>
  
          <ul>
            <li><h3 class="ft_h3">GET TO KNOW US</h3></li>
            <li><a href="">Global Site</a></li>
            <li><a href="">Corporate Responsibility</a></li>
            <li><a href="">Sustainability</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Affiliate Program</a></li>
            <li><a href="">Sitemap</a></li>
          </ul>
  
          <ul>
            <li><h3 class="ft_h3">POLICIES</h3></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Interest Based Ads</a></li>
            <li><a href="">Do Not Sell My Personal Information</a></li>
            <li><a href="">CA Transparency in Supply Chain</a></li>
            <li><a href="">UK Modern Slavery Statement</a></li>
            <li><a href="">Brand Protection</a></li>
            <li><a href="">Accessibility</a></li>
          </ul>
  
          <ul>
            <li><h3 class="ft_h3">EXPLORE</h3></li>
            <li><a href="">Tommy Hilfiger Club</a></li>
          </ul>
        </div>
  
        <div id="last_ft">
          <h4>STORE LOCATOR</h4>
          <h4>NEWSETTER SIGNUP</h4>
          <h4>FOLLOW US +</h4>
        </div>
  
        <p class="web_infor">ID: 713004885</p>
        <p class="web_infor">©  2020 Tommy Hilfiger licensing, LLC. All rights reserved.</p>
        <a class="web_infor lst" style="color: navy; text-decoration: underline" href="/database">Access Database</a>        
        
        
      </footer>
  
    </body>
  </html>
  
  