<!DOCTYPE html>
<html>
  <head>
    <title>HOME PAGE - TOMMY HILFIGER</title>
  </head>


<!-- // embed the header module to this page -->
<% include header %> 


    <img class="home_centre_img" src="./images/home_centre_img.jpg" alt="">
    <p id="sale_infor" >YOUR SAFETY IS OUR PRIORITY. OUR NORTH AMERICA STORES ARE CLOSED UNTIL 3/29.<u> LEARN MORE</u></p>

    <!-- main container ------------------------------------------------------------------------------------------------- -->

  

      <div id="main_infor">
        <!-- thumbnail images -->

<!-- related product ..................................... -->
        <section class="relation">
          <h2> ALL PRODUCT</h2>
          <div class="relate_prd">

            <% dataJson.product.forEach(function(prd){ %>     <!--  include Json data to html -->
              <div class="relate_img">
                <a href="/.<%= prd.prd_id %>">
                  <img src="<%= prd.prd_feature_img %>">
                  <h4 class="relate_h4"><%= prd.prd_name %></h4>
                  <p class="relate_p"><%= prd.prd_price %> </p>
                </a>
              </div>
            <% }) %> 

          </div>  
        </section>

        <!-- join club section .............................. -->
        <section class="join_club">
          <div class="join_left">
            <h2>JOIN THE HILFIGER CLUB</h2>
            <p>For a 20% off welcome offer and much more</p>
          </div>
          <div class="join_right">
            <input type="text" placeholder=" Your Email" id="emailSub" name="email_sub" value="">
            <span><button class="subscribe" onclick="showSub()">SUBSCRIBE</button></span>
            <div>
              <span class="agree_check"><input type="checkbox" aria-required="true"></span>
              <span class="agree_text" id="end">
              <p class="small_silver">I would like to join the Hilfiger Club and receive updates on the latest products and promotions via email or other channels. 
                Please see our <u>Privacy Policy</u> for more information.</p>
              <p class="small_silver">By submitting my information I agree to the <u>Terms & Conditions.</u></p>
              </span>
            </div>
          </div>
        </section>  

    </div>
    
    <!-- fixed feedback ...................... -->
    <div class="feedback">
      <a href="#">
      <img src="images/feedback.png" width="40" height="130">
      </a>
    </div>

    <!--Up to top / bottom .............................. -->
    <div class="top_bottom" id="top_bottom">
      <a href="#"><i class="fas fa-caret-square-up turn_ctrl"></i></a>
      <a href="#end"><i class="fas fa-caret-square-down turn_ctrl"></i></a>
    </div>



<!-- // embed the footer module to this page -->
<% include footer %>
