<!DOCTYPE html>
<html>
  <head>
    <title>SESSION - TOMMY HILFIGER</title>
    <link REL="SHORTCUT ICON" HREF="images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      <h1>SESSION INFOR :</h1>
      
      <% List.forEach(function(id){ %>     <!--  include Json data to html -->
        <p><%= id %> </p>
      <% }) %> 
  </body>
  </html>