*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

textarea{
  width: 100%; 
  height: 88px; 
  padding: 10px 20px;
  margin-top: 10px;
}

/* header .................................................................................. */

.header{
  width: 100%;
  position: fixed;
  top:0;
  z-index: 111;
}


.brand{
  background-color: white;
  height: 65px;
}
  .brand a{
    text-align: left;
    line-height: 65px;
    margin-left: 10px;
    font-weight: 650;
    font-size: 15px;
    color: #00174f;
  }

  #Mlogo{
    position: absolute;
    width: 20%;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }
  #cart{
    float: right;
    line-height: 65px;
    margin-right: 10px;
    color: #00174f;
    font-size: 19px;
  }
  #sign_in{
    float: right;
    margin-right: 18px;
  }
  #search_icon{
    float: right;
    margin-right: 19px;
    font-weight: 100;
  }

.bar{
  background-color: #00174f;
  height: 50px;
  text-align: center;
  margin-top: 65px;
  box-shadow: 0px 4px 6px -3px rgba(43,43,43,1);
}
  .bar > ul{
    margin:0;
    padding:0;
    display: inline-block;
  }
  .bar > ul > li{
    float: left;
    padding: 0px 30px;
    list-style: none;
  }
  @media only screen and (max-width : 720px){
    .bar > ul > li{
      padding: 0px 10px;
    }
  }
  .bar_click:hover{
    background-color:navy;
    cursor: pointer;
  }
  .active_bar{
    background-color: #ca1334;
  }
  .bar > ul > li >a{
    line-height: 50px;
    color: white;
    font-size: 15px;
    font-weight: 650;
  }

.drop_overlay{
  width: 100%;
  height: 70%;
  background-color: #00174f;
  opacity: 0.9;
  position: fixed;
  display: none;
  left: 0;
  margin-top: 50px
}
@media only screen and (max-width : 840px){
  .drop_overlay{
    height: 100%;
  }
}
.close_menu{
  top: 70px;
  right: 12px;
  font-weight: 700;
  position: absolute;
  padding: 4px 8px;
  border: 1px solid white;
  border-radius: 3px;
  z-index: 9;
  display: none;
}
.close_menu > a {
  color: white!important;
  text-align: center;
}
.close_menu:hover{
  cursor: pointer;
  background-color: black;
}

.drop_menu{
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  display: none;
  left: 0;
  margin-top: 50px;
  }
  .drop_menu > ul{
    padding:10px 20px 25px 20px;
    width: 17%;
    text-align: left;
  }
  .drop_menu > ul > li{
    padding: 5px 0px;
    color: white;
  }
  .drop_menu > ul > li > h3{
    font-size: 12px;
    margin-top:15px;
    margin-bottom: 3px;
  }
  .drop_menu > ul > li > a{
    color:white;
    font-size:12px
  }
  .drop_menu > ul > li > a:hover{
    text-decoration: underline;
  }
  .drop_img{
    padding:10px 0px 25px 0px;
    width: 17%;
    height: 100%;
    margin-top:25px;
  }


  #sale_infor{
    text-align: center;
    line-height: 35px;
    color: #00174f;
    font-size: 13px;
  }

  .home_centre_img{
    width: 100%;
    margin-top: 110px;
  }


/*  centre content -------------------------------------------------------------------------- */

#container{
  padding: 15px 0%;
  color: #000f33;
  margin-top: 110px;
}
#breadscrum{
  margin-left: 30px;
}
#breadscrum a{
  margin-right: 5px;
  font-size: 13px;
}
  #breadscrum a:hover{
    text-decoration: underline;
  }
  #active_bread{
    color: grey;
  }

#main_infor{
  margin: 30px 0px;
  padding: 0% 9%;
}
@media only screen and (max-width : 840px){
  #main_infor{
    padding: 0% 3%;
  }
}
  #prd_img{
    width: 55%;
    margin-bottom: 30px;
    float: left;
  }
  @media only screen and (max-width : 550px){
    #prd_img{
      width: 100%;
    }
  }
  #thum_img{
    width: 20%;
    float: left;
    padding-right: 16px;
  }
  .thum_prd{
    width: 100%;
    transition: 0.2s;
  }
  #big_img{
    width: 80%;
    float: left;
    box-sizing: border-box;
  }
  .big_prd{
    width: 100%;
    display: none;
  }
  .active_img{
    display: block;
  }
  .thum_prd:hover{
    cursor: pointer;
    opacity: 0.5;
  }

  #prd_option{
    width: 45%;
    float: left;
    padding: 0% 5%;
  }
  @media only screen and (max-width : 550px){
    #prd_option{
      width: 100%;
    }
  }
  .prd_type{
    font-size: 12px;
    font-weight: 1000;
    line-height: 24px;
    color: #0a276f;
  }
  .prd_name{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 4px;
    color: #ca1334;
    font-weight: 1000;
    line-height: 26px;
    margin-top: 11px;
  }
  .prd_price{
    font-size: 1.154rem;
    line-height: 17px;
    letter-spacing: 1px;
    color: #0a276f;
    font-weight: 1000;
    margin-top: 11px;
  }
  .small_silver{
    color: #767676;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .prd_color{
    margin-top: 21px;
  }
  .prd_color_button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
  }
  .color_border:hover{
    border: 3px solid #ca1334;
    padding:1px;
    cursor: pointer;
  }
  .color_border{
    border: 2px solid #ca1334;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding:2px;
    margin-top: 20px;
  }
  .size_guide{
    margin-bottom: 5px;
  }
  .size_guide a:hover{
    text-decoration: underline;
  }
  .size_selector{
    margin-top: 30px;
    float: left;
  }
  .available{
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    text-align: center;
    padding: 7px 6px;
    margin: 0 8px 8px 0;
    font-size: 13px;
    width: 70px;
    line-height: 1;
    float: left;
    transition: 0.3s;
  }
  .available:hover{
    cursor: pointer;
    background-color: #ca1334;
    color: white;
    border: 1px solid #ca1334;
  }
  .red_border{
    border: 4px solid #ca1334 !important;
    background-color: #ca1334 !important;
  }

  #length{
    margin-top: 10px;
    float: left;
  }
  .bag{
    float: left;
    margin-top: 10px;
    width: 100%;
  }
  .buy_button{
    width: 90%;
    transition: width 1s;
    padding:5px 0;
    text-align: center;
    border: 4px solid #14be82 !important;
    color: #14be82 !important;
    font-weight: 700;
    transition: 0.3s;
  }
  .upload_btn{
    width: 20%;
    margin-top: 15px;
  }
  .buy_button:hover{
    background-image: linear-gradient(to bottom right, #14be82, lightblue);
    color: white!important;
    cursor: pointer;
  }


  .fit_finder{
    height:20px;
    margin-top:10px;
  }
  .bag u{
    line-height: 10px;
    vertical-align: 5px;
    margin-left: 20px;
    font-size: 12px;
    color: grey;
  }

  .prd_des{
    float: left;
    margin-top: 15px;
    color: grey;
    font-size: 12px;
    line-height: 18px;
  }
  .prd_des ul li{
    line-height: 20px;
    margin-left: 20px;
    list-style: circle;
  }

  .prd_term{
    float: left;
    margin-top: 25px;
    width: 100%;
  }
  .prd_term > ul > li{
    width: 100%;
    line-height: 40px;
    font-weight: 700;
    font-size: 13px;
    border-top: 2px solid #f4f4f4;
    color: #0a276f;
    letter-spacing: 1px;
  }
  .prd_term > ul > li > i{
    float: right;
    line-height: 40px;
  }
  .prd_term > ul > li:hover{
    cursor: pointer;
  }
  #hide1, #hide2{
    display: none;
  }

  .term_detail{
    color: #0a276f;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-left: 10px;
    display: none;
  }
  .term_detail > h3{
    margin:20px 0px 10px 0px;
    font-size: 12px;
  }
  .underline{
    text-decoration: underline;
    color: silver;
  }
  .social_icon i{
    margin-right: 10px;
    margin-top: 10px;
  }


  .relation{
    margin: 60px 0px;
    width: 100%;
    float: left;
  }
  .relation h2{
    letter-spacing: 4px;
    font-weight: 900;
    position: absolute;
    margin-top: 12px;
    background-color: white;
    margin-left: 20px;
    padding: 0px 10px;
  }
  .relate_prd{
    margin: 30px 0px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 40px 0px;
  }

  .relate_img{
    width: 22%;
    float: left;
    margin-right: 10px;
    background-color: #ededed;
    padding-bottom: 15px;
  }
  .relate_img:hover{
    cursor:pointer;
    opacity: 0.5;
    transition: 0.3s;
  }
  .relate_img img{
    width: 100%;
  }
  .relate_p{
    padding: 10px 10px 0px 10px!important;
    color: #ca1334!important;
  }
  .relate_h4{
    padding: 10px 10px 0px 10px!important;
    color: #0a276f!important;
  }


  .join_club{
    width: 100%;
    float: left;
    padding: 0% 11%;
  }
  @media only screen and (max-width: 930px){
    .join_club{
      padding: 0% 3%;
    }
  }
  @media only screen and (max-width: 720px){
    .join_left{
      width: 100%!important;
      float: none;
    }  
    .join_right{
      margin-top: 20px;
      width: 100%!important;
      float: none;
    } 
  }

  .join_left{
    width: 45%;
    float: left;
  }
  .join_left h2{
    letter-spacing: 2px;
    font-size: 28px;
  }
  .join_left p{
    letter-spacing: 1px;
    color: gray;
  }
  .join_right{
    width: 55%;
    float: left;
  }

  input[type=text]{
    width: 70%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid silver;
    box-sizing: border-box;
  }
  .subscribe{
    padding: 10px 20px;
    background-color: black;
    color: white;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 14px;
  }
  .subscribe:hover{
    cursor:pointer;
    background-color: white;
    color: black;
  }
  .agree_text{
    width: 95%;
    float: left;
  }
  .agree_check{
    width: 20px;
    float: left;
    padding-top: 0px;
  }



  /*  footer -------------------------------------------------------------------------- */

footer{
  width: 100%;
  height: auto;
  float: left;
  margin-top: 30px;
}
  #ft_cover{
    background-color: #ca1334;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
  footer ul{
    list-style: none;
    width: 17%;
    padding:30px 0%;
    overflow: hidden;
  }

  footer ul li{
    padding: 6px 0px;
    color: white;
  }
  .ft_h3{
    margin-bottom: 20px;
  }

  footer ul li a{
    color:white;
    font-size:12px
  }
  footer ul li a:hover{
    text-decoration:underline;
  }

  #last_ft{
    padding: 13px 2%;
    background-color: #ededed;
  }
  #last_ft h4{
    display: inline;
    margin-right: 40px;
    color: grey;
    font-size: 13px;
  }

.web_infor{
  padding: 15px 2% 0px 2%;
  color: #9b9b9b;
  font-size: 11px;
  letter-spacing: 1px;
}











/* những module cố định */

.feedback{
  position: fixed;
  right: 0;
  top: 50%;
  opacity: 0.8;
}
.feedback:hover{
  opacity: 1;
  right: -1px;
}

.top_bottom{
  position: fixed;
  right: 5px;
  opacity: 0.8;
  bottom: 10px;
  font-size: 38px;
}
.turn_ctrl{
  width: 100%;
  float: none;
  color: black!important;
  text-align: right;
}


/* 
upload page css */

.form-group input{
  width: 100%;
  margin-top: 15px;
}
